* {
    box-sizing: border-box; /* 设置所有元素的盒模型为 border-box，包含内边距和边框在内的总宽度和高度 */
    margin: 0; /* 清除所有元素的默认外边距 */
    padding: 0; /* 清除所有元素的默认内边距 */
}

:root {
    --primary-color: #4891ff; /** 设置默认颜色 */
    --light-color: #f4f4f6; /** 设置亮色 */
    --dark-color: #111; /** 设置深色 */
}

body {
    font-family: "Poppins", sans-serif; /* 设置页面的字体为 Poppins，后备字体为 sans-serif */
    font-size: 16px; /* 设置基础字体大小为 16px */
    line-height: 1.5; /* 设置行高为 1.5，增加可读性 */
    color: #333; /* 设置文本颜色为白色 */
}

a {
    text-decoration: none; /* 取消链接的下划线装饰 */
    color: #333; /* 设置链接文本的颜色为深灰色 */
}

ul {
    list-style: none; /* 取消无序列表的默认样式（如圆点） */
}

img {
    max-width: 100%; /* 设置图像的最大宽度为 100%，使其响应式 */
}

/**
navbar
 */
.navbar {
    background-color: #fff; /* 设置导航栏的背景颜色为白色 */
    padding: 20px; /* 为导航栏添加 20px 的内边距 */
}

.navbar .container {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: space-between; /* 在主轴上均匀分配子元素的空间 */
    align-items: center; /* 在交叉轴上居中对齐子元素 */
}

.navbar .main-menu ul {
    display: flex; /* 将主菜单的无序列表设置为 Flexbox 布局 */
    align-items: center;
}

.navbar ul li a {
    margin: 10px 20px; /* 设置链接的外边距，上下为 10px，左右为 20px */
    display: block; /* 将链接设置为块级元素，使其占据整行 */
    font-weight: 600; /* 设置链接文本的字体粗细为 600（加粗） */
    transition: 0.5s; /* 设置过渡效果，持续时间为 0.5 秒，使样式变化更加平滑 */
}

i {
    margin-right: 5px; /* 为链接文本添加 10px 的右外边距 */
}

.navbar ul li a:hover {
    color: var(
            --primary-color
    ); /* 当鼠标悬停在链接上时，将链接文本的颜色设置为蓝色 */
}

.navbar ul li:last-child a {
    margin-left: 10px; /* 为链接文本添加 10px 的左外边距 */
}

/*
hero clasese
 */
.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: url("/images/hero-bg.png") no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

.hero .hero-heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

/*
video classes
*/
.video {
    padding: 10px 0 40px;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-preview {
    margin-bottom: 20px;
}

/*
text classes
 */
.text-xxl {
    font-size: 3em;
    line-height: 1.2;
    font-weight: 600; /* 加粗字体 */
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2em;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8em;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2em;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9em;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* 确保在小屏幕上也能正确显示 */
@media (max-width: 768px) {
    .hero-heading {
        font-size: 2rem;
    }

    .text-xxl {
        font-size: 2.5rem;
    }
}

/**
 utilities classes
 */
.container {
    max-width: 1100px; /* 设置容器的最大宽度为 1100px */
    margin: 0 auto; /* 设置容器的外边距为自动，使其居中对齐 */
    padding: 0 15px; /* 为容器添加左右 15px 的内边距 */
}

.container-small {
    max-width: 800px; /* 设置小容器的最大宽度为 800px */
    margin: 0 auto; /* 设置小容器的外边距为自动，使其居中对齐 */
    padding: 0 15px; /* 为小容器添加左右 15px 的内边距 */
}

/*
buttons
 */
.btn {
    display: inline-block; /* 将按钮设置为内联块级元素，使其与其他元素在同一行显示 */
    padding: 13px 20px; /* 为按钮添加 10px 的上下内边距和 20px 的左右内边距 */
    background-color: var(--light-color); /* 设置按钮的背景颜色为亮色 */
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px; /* 为按钮添加 10px 的圆角 */
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-light {
    background-color: var(--light-color);
    color: #333;
}

.btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

/**
Background colors
*/
.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-light {
    background-color: var(--light-color);
    color: #333;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-black {
    background-color: #000;
    color: #fff;
}